﻿@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@


@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>WEB BOOK SHOP</h1>
</div>
<div class="jumbotron" data-bind="visible: error">
    <div><p data-bind="text: error"></p></div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Books</h2>
            </div>
            <div class="panel-body">
                <div data-bind="visible: loadingBooks" class="alert alert-info" role="alert">Loading...</div>
                <ul class="list-unstyled" data-bind="foreach: books">
                    <li>
                        <strong><span data-bind="text: AuthorName "></span></strong>: <span data-bind="text: Title"></span>
                        <small><a href="#" data-bind="click: $parent.getBooksDetail">Read more</a></small>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- ko if:detailBooks() -->
    <div class="col-md-4" data-bind="visible: detailBookExist">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h2 class="panel-title">Book detail</h2>
            </div>
            <table class="table">
                <tr>
                    <td>Author:</td>
                    <td data-bind="text: detailBooks().AuthorName"></td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td data-bind="text: detailBooks().Title"></td>
                </tr>
                <tr>
                    <td>Release Date:</td>
                    <td data-bind="text: detailBooks().ReleaseDate"></td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td data-bind="text: detailBooks().CategoryName"></td>
                </tr>
                <tr>
                    <td><button data-bind="click: deleteBook" class="btn btn-warning">Delete</button></td>
                    <td><button class="btn btn-warning">Update</button></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /ko -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title" >Add Book</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addBook">
                    <div class="form-group">
                        <label for="inputTitle" class="col-sm-2 control-label">Writer</label>
                        <div class="col-sm-10">
                            <select data-bind="options: authors, optionsText: 'Surname', value: newBook.Author"></select>
                        </div>
                    </div>
                    <div class="form-group" data-bind="with: newBook">
                        <label for="inputTitle" class="col-sm-2 control-label">Title </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputTitle" data-bind="value: Title" />
                        </div>
                    </div>
                    <div class="form-group" data-bind="with: newBook">
                        <label for="inputReleaseDate" class="col-sm-2 control-label">Release Date </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputReleaseDate" data-bind="value: ReleaseDate" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputCategory" class="col-sm-2 control-label">Category  </label>
                        <div class="col-sm-10">
                            <select data-bind="options: categories, optionsText: 'Name', value: newBook.Category"></select>
                        </div>
                    </div>
                    <button type="submit" class="form-horizontal">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Writers</h2>
            </div>
            <div class="panel-body">
                <div data-bind="visible: loadingAuthors" class="alert alert-info" role="alert">Loading...</div>
                <ul class="list-unstyled" data-bind="foreach: authors">
                    <li>
                        <strong><span data-bind="text: Name + ' '+ Surname"></span></strong> 
                        <small><a href="#" data-bind="click: $parent.getAuthorsDetail">Read more</a></small>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- ko if:detailAuthors() -->
    <div class="col-md-4" data-bind="visible: detailAuthorExist">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h2 class="panel-title">Writer detail</h2>
            </div>
            <table class="table">
                <tr>
                    <td>Name:</td>
                    <td data-bind="text: detailAuthors().Name"></td>
                </tr>
                <tr>
                    <td>Surname:</td>
                    <td data-bind="text: detailAuthors().Surname"></td>
                </tr>
                <tr>
                    <td>Birth Date:</td>
                    <td data-bind="text: detailAuthors().BirthDate"></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td data-bind="text: detailAuthors().Description"></td>
                </tr>
                <tr>
                    <td><button data-bind="click: deleteWriter" class="btn btn-warning">Delete</button></td>
                    <td><button class="btn btn-warning" >Update</button></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /ko -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Writer</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addWriter">
                    <div class="form-group" data-bind="with: newAuthor">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputWriterName" data-bind="value: Name" />
                        </div>
                    </div>
                    <div class="form-group" data-bind="with: newAuthor">
                        <label for="inputSurname" class="col-sm-2 control-label">Surname </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputWriterSurname" data-bind="value: Surname" />
                        </div>
                    </div>
                    <div class="form-group" data-bind="with: newAuthor">
                        <label for="inputBirthDate" class="col-sm-2 control-label">Birth Date </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputWriterBirthDate" data-bind="value: BirthDate" />
                        </div>

                    </div>
                    <div class="form-group" data-bind="with: newAuthor">
                        <label for="inputDescription" class="col-sm-2 control-label">Description  </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputWriterDescription" data-bind="value: Description" />
                        </div>
                    </div>
                    <button type="submit" class="form-horizontal">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Categories</h2>
            </div>
            <div class="panel-body">
                <div data-bind="visible: loadingCategories" class="alert alert-info" role="alert">Loading...</div>
                <ul class="list-unstyled" data-bind="foreach: categories">
                    <li>
                        <strong><span data-bind="text: Name "></span></strong>
                        <small><a href="#" data-bind="click: $parent.getCategoriesDetail">Read more</a></small>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- ko if:detailCategories() -->
    <div class="col-md-4" data-bind="visible: detailCategoryExist">
        <div class="panel panel-default" data-bind="visible: showCategoryDetail">
            <div class="panel panel-heading">
                <h2 class="panel-title">Category detail</h2>
            </div>
            <table class="table">
                <tr>
                    <td>Name:</td>
                    <td data-bind="text: detailCategories().Name"></td>
                    <!-- <td><input type="text" data-bind="text: detailCategories().Name, value: new.CategoryName, visible: hasStartedUpdateCategory" /></td> -->
                </tr>
                <tr>
                    <td>Description:</td>
                    <td data-bind="text: detailCategories().Description"></td>
                    <!-- <td ><input type="text" data-bind="text: detailCategories().Description, value: newCategory.Description, visible: hasStartedUpdateCategory" /></td>-->
                </tr>
                <tr>
                    <td><button data-bind="click: deleteCategory" class="btn btn-warning" >Delete</button></td>
                    <td><button class="btn btn-warning" data-bind="click: initCategoryUpdate" >Update</button></td>
                    <!-- <td><button class="btn btn-warning" data-bind="visible: hasStartedUpdateCategory, click: UpdateCategory" value="Done!" /></td>-->
                </tr>
            </table>
        </div>

        <div class="panel panel-default" data-bind="visible: hasStartedUpdateCategory">
            <div class="panel panel-heading">
                <h2 class="panel-title">Edit Category</h2>
            </div>
            <table class="table">
                <tr>
                    <td>Name:</td>
                    <td><input type="text" data-bind="value: varUpdateCat.Name" /></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" data-bind="value: varUpdateCat.Description"/></td>
                </tr>
                <tr>
                    <td><button class="btn btn-warning" data-bind="click: UpdateCategory" >Done!</button></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /ko -->

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Category</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addCategory">
                    <div class="form-group" data-bind="with: newCategory">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCategoryName" data-bind="value: Name" />
                        </div>
                    </div>
                    <div class="form-group" data-bind="with: newCategory">
                        <label for="inputDescription" class="col-sm-2 control-label">Description  </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCategoryDescription" data-bind="value: Description" />
                        </div>
                    </div>
                    <button type="submit" class="form-horizontal">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>